<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title></title>

    <script src="%PROTO%://%SYSIP%:%SYSPORT%/lib/react/react-0.13.1.min.js"></script>
    <script src="%PROTO%://%SYSIP%:%SYSPORT%/lib/jquery/jquery-1.11.2.min.js"></script>
    <script src="%PROTO%://%SYSIP%:%SYSPORT%/lib/semantic/semantic.min.js"></script>
    <script src="%PROTO%://%SYSIP%:%SYSPORT%/lib/framework/diligent/agent.min.js"></script>
    <link rel="stylesheet" href="%PROTO%://%SYSIP%:%SYSPORT%/lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="%PROTO%://%SYSIP%:%SYSPORT%/lib/framework/cutie/cutie.min.css">
    <link rel="stylesheet" href="%PROTO%://%SYSIP%:%SYSPORT%/lib/framework/diligent/agent.min.css">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
    <div id="diligent-dock" class="ui left vertical inverted labeled icon sidebar menu"></div>
    <div id="diligent-console" class="ui bottom inverted sidebar"></div>
    <div class="pusher">
        <div id="diligent-navigation-bar" class="ui fixed inverted main menu"></div>
        <div id="app-view"></div>
    </div>
    <script src="js/app.min.js"></script>
</body>
</html>
