<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <script src="http://%SYSIP%:%SYSPORT%/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="http://%SYSIP%:%SYSPORT%/lib/framework/base/base.min.js"></script>
    <script src="http://%SYSIP%:%SYSPORT%/lib/framework/ui-kits/semantic/semantic.min.js"></script>
    <link rel="stylesheet" href="http://%SYSIP%:%SYSPORT%/lib/framework/ui-kits/semantic/semantic.min.css">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
    <div class="ui bottom diligent-console inverted sidebar"></div>
    <div class="pusher">
        <div class="app-view"></div>
    </div>
    <script src="js/app.min.js"></script>
</body>
</html>
