<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <!-- Import JQuery library -->
    <script src="http://%SYSIP%:%SYSPORT%/lib/jquery/jquery-1.11.1.min.js"></script>

    <!-- Import Foundation Frameworks -->
    <script src="http://%SYSIP%:%SYSPORT%/lib/framework/foundation/bundle.js"></script>

    <!-- Import UI Frameworks -->
    <script src="http://%SYSIP%:%SYSPORT%/lib/framework/ui/bundle.js"></script>

    <!-- Import Template style -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Import extension module -->
    <script src="js/extension/example.js"></script>

    <script>
        /* TemplateViewController Constructor */
        function TemplateViewController() {
            this.extensionClient = new ExtensionClient();

            /* Create client side example extension & handle example events */
            this.exampleExtension = new ExampleExtension();

            this.exampleExtension.event.on("example.sayhello#success", function(event, msg) {
                $("#ext-response").html("Extension Response Test: <font color=blue>" + msg + "</font>");
            });

            this.exampleExtension.event.on("example.sayhello#error", function(event, err) {
                $("#ext-error").html("Extenstion Error Test: <font color=blue>" + err + "</font>");
            });
        }

        /* Inherit CoreClient */
        TemplateViewController.prototype = new CoreClient();
        TemplateViewController.prototype.constructor = TemplateViewController;

        $(function() {
            var templateViewController = new TemplateViewController();

            templateViewController.event.on("core.connection#established", function(event) {
                templateViewController.extensionClient.attach(templateViewController);
            });

            templateViewController.event.on("core.connection#closed", function(event) {
                /* Unload both client & server side extension module */
                templateViewController.extensionClient.unload(templateViewController.exampleExtension);
                templateViewController.extensionClient.detach();
            });

            templateViewController.event.on("core.connection#error", function(event, error) {
                $("#proto").html(
                    "WSAPI version <font color=blue>" + templateViewController.version + "</font> load failed, error = " + error
                );
            });

            templateViewController.event.on("core.wsapi#loaded", function(event) {
                var self = templateViewController;

                // NOTE: Do API relative operations here

                $("#proto").html(
                    "WSAPI major version: <font color=blue>" + self.version + "</font>"
                );

                /* Extension event handling */
                self.extensionClient.event.on("extension.load#success", function(event, name) {
                    $("#proto").html(
                        $("#proto").html() +
                        "<br>Extension API [" + name + "] major version: <font color=blue>" +
                        self.exampleExtension.version + "</font>"
                    );

                    /* Test extension API */
                    self.exampleExtension.sayHello("Mac", "Kenny");
                });

                self.extensionClient.event.on("extension.unload#success", function(event, name) {
                    // TODO: Do something on extension unloaded
                });

                // wtf
                self.extensionClient.event.on("extension.load#error", function(event, name, error) {
                    alert('Load extension ' + name + ' failed with error: ' + error);
                    // TODO: Do something on extention load failed with error
                });

                self.extensionClient.event.on("extension.unload#error", function(event, name, error) {
                    alert('Unload extension ' + name + ' failed with error: ' + error);
                    // TODO: Do something on extention unload failed with error
                });

                /* Load both client & server side extension module */
                self.extensionClient.load(self.exampleExtension);
            });

            templateViewController.event.on("core.wsapi#error", function(event, error) {});

            templateViewController.initiate();
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <img class="background-image" />
        <div id="header"></div>
        <div id="content">

            <!-- TODO: Your codes here -->

            <h2>Hello Template</h2>
            <div id="proto"></div>
            <div id="ext-response"></div>
            <div id="ext-error"></div>
        </div>
        <div id="footer"></div>
    </div>

    <script>
        var page = new Page();
        page.setTitle("Template");
        page.createNavigationBar("Template");
        page.setFooterText("%COPYRIGHT%");

        var brandLabel = new NavigationBarLabel("%BRAND%");
        page.navigationBar.rightContainer.pushItem(brandLabel);
    </script>
</body>
</html>
