<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <!-- Import JQuery library -->
    <script src="http://%SYSIP%:8001/lib/jquery/jquery-1.11.1.min.js"></script>

    <!-- Import Foundation Frameworks -->
    <script src="http://%SYSIP%:8001/lib/framework/foundation/foundation.js"></script>

    <!-- Import UI Frameworks -->
    <script src="http://%SYSIP%:8001/lib/framework/ui/ui-kits.js"></script>

    <!-- Import Template style -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Import extension module -->
    <script src="js/extension/example.js"></script>

    <script>
        /* TemplateClient Constructor */
        function TemplateClient() {
            this.parent = CoreClient;
            this.delegate = this;

            /* Create & implement example extension delegates */
            var exampleDelegate = new ExampleExtensionDelegate();

            exampleDelegate.exampleDidSayHello = function(msg) {
                $("#ext-response").html("Extension Response Test: <font color=blue>" + msg + "</font>");
            };

            exampleDelegate.exampleDidFailSayHelloWithError = function(err) {
                $("#ext-error").html("Extenstion Error Test: <font color=blue>" + err + "</font>");
            };

            /* Create client side example extension & install delegate */
            this.extension = new ExampleExtension();
            this.extension.delegate = exampleDelegate;
        };

        /* Inherit CoreClient */
        TemplateClient.prototype = new CoreClient();
        TemplateClient.prototype.constructor = TemplateClient;

        TemplateClient.prototype.connectionDidEstablish = function() {
            this.parent.prototype.connectionDidEstablish.call(this);
            /* Load both client & server side extension module */
            this.extensionLoad(this.extension);
        };

        TemplateClient.prototype.connectionDidClose = function() {
            this.parent.prototype.connectionDidClose.call(this);
            /* Unload both client & server side extension module */
            this.extensionUnload(this.extension);
        };

        TemplateClient.prototype.connectionDidFailWithError = function(error) {
            this.parent.prototype.connectionDidFailWithError.call(this, error);

            $("#proto").html(
                "Protocol version <font color=blue>" + this.version + "</font> load failed, error = " + error
            );
        };

        /* Override protocol delegates */
        TemplateClient.prototype.protocolDidLoad = function() {
            this.parent.prototype.protocolDidLoad.call(this);

            $("#proto").html(
                "Protocol major version: <font color=blue>" +
                this.version + "</font>"
            );
        };

        /* Implement extension protocol delegates */
        TemplateClient.prototype.extensionDidLoad = function(name) {
            this.parent.prototype.extensionDidLoad.call(this, name);

            $("#proto").html(
                $("#proto").html() +
                "<br>Extension protocol [" + name + "] major version: <font color=blue>" +
                this.extension.version + "</font>"
            );

            /* Test extension protocol */
            this.extension.sayHello("Bowie", "Kenny");
        };

        TemplateClient.prototype.extensionDidUnload = function(name) {
            this.parent.prototype.extensionDidUnload.call(this, name);

            // TODO: Do something after extension unloaded
        };

        TemplateClient.prototype.extensionDidFailLoadWithError = function(name) {
            this.parent.prototype.extensionDidFailLoadWithError.call(this, name);

            // TODO: Do something if extention load failed with error
        };

        TemplateClient.prototype.extensionDidFailUnloadWithError = function(name) {
            this.parent.prototype.extensionDidFailUnloadWithError.call(this, name);

            // TODO: Do something if extention unload failed with error
        };

        /* Implement protocol delegates you need */
        // TODO: Your codes here

        $(function() {
            var templateClient = new TemplateClient();
            templateClient.initiate();
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header"></div>
        <div id="content">

            <!-- TODO: Your codes here -->

            <h2>Hello Template</h2>
            <div id="proto"></div>
            <div id="ext-response"></div>
            <div id="ext-error"></div>
        </div>
        <div id="footer"></div>
    </div>

    <script>
        var page = new Page();
        page.setTitle("Template");
        page.createNavigationBar("Template");
        page.setFooterText("%COPYRIGHT%");

        var brandLabel = new NavigationBarLabel("%BRAND%");
        page.navigationBar.rightContainer.pushItem(brandLabel);
    </script>
</body>
</html>
