.hidden {
    display: none !important;
}

.shop-section > .segment {
    background-color: rgba(255, 255, 255, .6) !important;
}

.section-myapp-container {
    width: 100%;
    overflow: hidden;
}

.section-myapp-scroller {
    width: 100%;
    margin: 0px auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.section-myapp-cards {
    margin: 0 !important;
}

.ui.cards > .card {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.ui.card, .ui.cards>.card {
    width: 120px !important;
    height: 200px !important;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui) {
    font-size: 1em !important;
}

.userapp.header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Control dimmer by ourself */
.ui.active.dimmer {
    background-color: rgba(0, 0, 0, .6) !important;
}

.ui.dimmer>.content>.center {
    position: relative;
}

.ui.tiny.progress {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0 !important;
}

h2.ui.inverted.header {
    word-wrap: break-word;
    font-size: 100% !important;
}

.card-enter {
    opacity: 0.01 !important;
    transition: opacity .3s ease-in !important;
}

.card-enter.card-enter-active {
    opacity: 1 !important;
}

.card-leave {
    opacity: 1 !important;
    transition: opacity .3s ease-in !important;
}

.card-leave.card-leave-active {
    opacity: 0.01 !important;
}
