#bookshelf {
    white-space: nowrap;
    text-align: left;
    color: black;
    overflow-x: auto;
    overflow-y: auto;
    border-right: 1px solid lightgray;
}

#accordion {
    padding: 0;
}

#accordion .ui-accordion-header {
    width: auto;
    margin: 0;
    border-right: 0;
    border-top: 0;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#accordion .ui-accordion-content {
    margin: 0px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.action-button {
    float: right;
    -moz-margin-start: -15px !important;
}

/* notebook tree */
#notebook-tree {
    padding: 0;
}
