html, body {
    height: 100%;
    overflow: hidden;
}

.ui-widget {
    font-size:80%;
}

a { text-decoration: none; }

#header {
    padding: 0;
}

#content {
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}

#bar-container {
    display: inline-block;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}

#toolbar {
    width: 90%;
    height: 40px;
    border: 0;
    padding: 0;
    background-color: #BBB;
    display: inline-block;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}

#search-bar {
    width: 494px;
    height: 40px;
    padding: 5px;
}

#search-button {
    position: relative;
    padding: 5px;
    cursor: pointer;
    float: right;
}

#search-text-input {
    width: 452px;
    height: 25px;
    padding: 1px 6px 0;
    border: 1px solid #BBB;
    float: left;
}

#control-bar {
    width: 200px;
    height: 40px;
    padding: 5px;
}

#add-note-button {
    float: left;
}

#add-note-button:disabled {
    color: lightgray;
    cursor: default;
}

#status-bar {
    width: 10%;
    height: 40px;
    border: 0;
    padding: 0;
}

#status-msg {
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    font-size: 14px;
    padding: 0 10px 0 0;
    text-align: right;
}

#container {
    width: 100%;
    display: -moz-box;
    display: -webkit-box;
    background-color: white;
}
