.ui.grid {
	margin: 0 !important;
}

.ui.grid > .row > .column {
	padding: 0 !important;
}

.nb-main-view {
	height: 100% !important;
	overflow: hidden !important;
}

.nb-main-grid {
	height: 100%;
}

.nb-main-eq-h-row {
	height: calc(100% + 28px);
}

.nb-main-columns {
	height: 100%;
}

.nb-column-container {
	height: 100%;
}

.nb-column-toolbar {
	border-radius: 0 !important;
	height: 36px !important;
}

.nb-column-content {
	height: calc(100% - 64px); /* (toolbar 36px + padding-top 14px + padding-bottom 14px) */
    padding: 0 !important;
    overflow-y: auto !important;
    margin: 0 14px;
}
