.nb-editor-container
{
    margin: 0 !important;
}

.nb-column-toolbar-title-container
{
    width: 70%;
    height: 100%;
}

.nb-column-toolbar-search-container
{
    width: 30%;
    height: 100%;
}

.nb-column-toolbar-search-input
{
    width: 100%;
}

.nb-editor-upload-dialog-container
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.ui.transparent.icon.input > .nb-column-toolbar-title-input
{
    padding-right: 0 !important;
}

.ui.input.search input
{
    color: #9d5e1e;
    border-color: #dbc49b;
    background-color: #fff8e2;
}

.cke_editor_nb-editor
{
    height: calc(100% - 36px) !important;
}

@-moz-document url-prefix()
{
    .cke_editor_nb-editor
    {
        height: 100% !important;
    }
}

.cke_chrome
{
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.cke_inner
{
    height: 100% !important;
}

.cke_top
{
    border-top: 1px solid #b6b6b6 !important;
    background-color: rgb(240, 240, 240) !important;
}

.cke_contents
{
    height: calc(100% - 76px) !important;
}

.cke_wysiwyg_frame
{
    height: 100%;
}

.nb-snapshot-container
{
    position: absolute;
    z-index: -9999;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
    overflow: auto;
}

.nb-snapshot-container > div
{
    background-color: #fff;
}

.nb-snapshot-container > div > div
{
    /* copy from ckeditor/contents.css */
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    margin: 0px;
    padding: 20px;
    word-wrap: break-word;
    color: #333;
    background-color: #fff;
}
