/* notebook */
#notebook {
    /* overflow: hidden; */  /* This makes tableview scroll bar y position shift */
    background-color: white;
}

#notebook-title-bar {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    margin: 0;
    height: 29px;
    text-align: left;
    color: #555;
}

#notebook-title-bar .notebook-title {
    float: left;
    padding: 5px;
    white-space: nowrap;
}

#notebook-title-bar .notebook-count {
    float: right;
    padding-top: 7px;
    padding-right: 2px;
    font-size: 14px;
    text-align: right;
    color: darkgray;
}

#note-list {
    border-right: 1px solid lightgray;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: default;
}

.note-title {
    position: relative;
    top: -8px;
    font-size: 16px;
    line-height: 0px;
}

.note-last-modified-date {
    position: relative;
    top: -5px;
    font-size: 6px;
    color: darkgray;
}

#note-manage-bottom-bar {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    background-color: white;
    margin: 0;
    height: 29px;
    text-align: left;
    color: #555;
}

#note-options {
    float: left;
    padding: 5px;
    cursor: default;
}
