#note-editor {
    -moz-box-flex:1;
    -webkit-box-flex:1;
    margin: 0;
    border: 0;
    text-align: left;
}

#note-title-input {
    height: 27px;
    font-size: 16px;
    color: #555;
    border: 0;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
}

#note-title-input:disabled {
    background-color: white;
}

#cke_note-content-editor {
    border: 0;
    border-right: 1px solid lightgray;
}

.glowing-border {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    -moz-box-shadow: 10px;
    -webkit-box-shadow: 10px;
}

#note-snapshot {
    width: 800px;
    height: auto;
    background-color: #fff;
    /* Make sure this is not visible while taking snapshot */
    opacity: 0;
    position: absolute;
    top: 1000px;
    left: 1000px;
    z-index: -9999;
}

#note-snapshot-body {
    /* copy from ckeditor/contents.css */
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    color: #333;
    background-color: #fff;
    margin: 20px;
    font-size: 13px;
    line-height: 1.6;
    word-wrap: break-word;
}
