/* notebook */
#notebook {
    overflow: hidden;
    background-color: white;
}

#notebook-name {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;ba
    margin: 0;
    height: 29px;
    text-align: left;
    color: #555;
}

#notebook-name span {
    float: left;
    padding: 5px;
}

#notes {
    border-right: 1px solid lightgray;
    overflow-x: hidden;
    overflow-y: auto;
}
