html, body {
    overflow: auto;
    background-color: black;
}

h3 {
    margin-left: 30px;
    font: normal 20px Helvetica, Arial, sans-serif;
    color: #666;
}

.storage-container {
    width: 500px;
    height: 440px;
    padding: 0px 15px 15px 15px;
    margin: 15px;
    border: 0px;
    float: left;
    display: block;
    background: rgba(255, 255, 255, 0.6);
}

.storage-placeholder {
    width: 80%;
    height: 80%;
    font-size: 14px;
    line-height: 1.2em;
    position: relative;
}

.legendLabel {
    text-align: left;
}
