#app-main-view
{
  padding: 0 !important;

  text-align: left !important;
}

.launcher-app-grid
{
  position: relative;

  overflow: hidden;

  height: 100%;
  margin: auto auto;
  padding-top: 64px;
}

.launcher-app-grid ul
{
  overflow: hidden;

  height: 100%;
  margin: 0 auto;
  padding: 40px;

  list-style: none;

  background: transparent;
}

.launcher-app-grid ul li
{
  float: left;

  width: 100px;
  height: 120px;

  text-align: center;
}

.launcher-app-grid ul li .overlay
{
  opacity: 1;
}

.launcher-app-grid ul li a
{
  text-decoration: none;

  color: black;
}

div[id^='launcher-icon-div-']
{
  width: 64px;
  height: 64px;
  margin: 0 auto;
  padding: 0 0;

  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

img[id^='launcher-icon-img-']
{
  width: 64px;
  height: 64px;

  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

span[id^='launcher-icon-text-']
{
  font-size: 12px;
  line-height: 130%;

  display: inline-block; /* Make width valid */

  width: 80px;
  padding-top: 8px;

  color: white;
  /*font-weight: 500;*/
}

div[id^='launcher-overlay-icon-div-']
{
  line-height: 64px;

  width: 64px;
  height: 64px;

  text-align: center;

  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  background: rgba(0, 0, 0, .6);
}

img[id^='launcher-overlay-icon-img-']
{
  width: 50%;
  height: 50%;

  vertical-align: middle;
}

.launcher-overlay-icon-delete
{
  position: absolute;
  top: 0;
}
