.launcher-app-grid {
    height: 100%;
    position: relative;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    overflow: hidden;
    margin: auto auto;
    padding: 36px;
}

.launcher-app-grid ul {
    background: transparent;
    height: 100%;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
    list-style: none;
    /*-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;*/
}

.launcher-app-grid ul li {
    float: left;
    height: auto;
    width: 100px;
    text-align: center;
}

/*
.launcher-app-grid ul li:hover {
    border: 0px solid #555;
}

.launcher-app-grid ul li:hover .overlay {
    opacity: 1;
}
*/

.launcher-app-grid ul li .overlay {
    opacity: 1;
}

.launcher-app-grid ul li a {
    text-decoration: none;
    color: black;
}

div[id^="launcher-icon-div-"] {
    height: 64px;
    width: 64px;
    padding: 0px 0px;
    margin: 0 auto;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

img[id^="launcher-icon-img-"] {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

span[id^="launcher-icon-text-"] {
    color: white;
    font-size: 12px;
    display:inline-block; /* Make width valid */
    width: 64px;
}

div[id^="launcher-overlay-icon-div-"] {
    background: rgba(0, 0, 0, .6);
    text-align: center;
    width: 64px;
    height: 64px;
    line-height:64px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

img[id^="launcher-overlay-icon-img-"] {
    width: 50%;
    height: 50%;
    vertical-align: middle;
}

.launcher-overlay-icon-delete {
    position: absolute;
    top: 0px;
}
