div.shake-app, div.shake-app img {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ie-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -khtml-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

div.shake-app img {
/*
    width: 64px;
    height: 64px;
*/
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -ie-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

div.shake-app:nth-child(even) {
    -webkit-animation: shake-app-even 250ms infinite linear;
    -moz-animation: shake-app-even 250ms infinite linear;
    -ms-animation: shake-app-even 250ms infinite linear;
    animation: shake-app-even 250ms infinite linear;
}

div.shake-app:nth-child(odd) {
    -webkit-animation: shake-app-odd 250ms infinite linear;
    -moz-animation: shake-app-odd 250ms infinite linear;
    -ms-animation: shake-app-odd 250ms infinite linear;
    animation: shake-app-odd 250ms infinite linear;
}

@-webkit-keyframes shake-app-even {
    from {
        -webkit-transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        -webkit-transform: rotate(2deg);
        margin-bottom: 14px;
    }
    75% {
        -webkit-transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    to {
        -webkit-transform: rotate(0deg);
        margin-bottom: 15px;
    }
}

@-webkit-keyframes shake-app-odd {
    from {
        -webkit-transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        -webkit-transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    75% {
        -webkit-transform: rotate(2deg);
        margin-bottom: 14px;
    }
    to {
        -webkit-transform: rotate(0deg);
        margin-bottom: 15px;
    }
}



@-moz-keyframes shake-app-even {
    from {
        -moz-transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        -moz-transform: rotate(2deg);
        margin-bottom: 14px;
    }
    75% {
        -moz-transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    to {
        -moz-transform: rotate(0deg);
        margin-bottom: 15px;
    }
}

@-moz-keyframes shake-app-odd {
    from {
        -moz-transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        -moz-transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    75% {
        -moz-transform: rotate(2deg);
        margin-bottom: 14px;
    }
    to {
        -moz-transform: rotate(0deg);
        margin-bottom: 15px;
    }
}




@-ms-keyframes shake-app-even {
    from {
        -ms-transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        -ms-transform: rotate(2deg);
        margin-bottom: 14px;
    }
    75% {
        -ms-transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    to {
        -ms-transform: rotate(0deg);
        margin-bottom: 15px;
    }
 }

 @-ms-keyframes shake-app-odd {
    from {
        -ms-transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        -ms-transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    75% {
        -ms-transform: rotate(2deg);
        margin-bottom: 14px;
    }
    to {
        -ms-transform: rotate(0deg);
        margin-bottom: 15px;
    }
 }




@keyframes shake-app-even {
    from {
        transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        transform: rotate(2deg);
        margin-bottom: 14px;
    }
    75% {
        transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    to {
        transform: rotate(0deg);
        margin-bottom: 15px;
    }
 }

 @keyframes shake-app-odd {
    from {
        transform: rotate(0deg);
        margin-bottom: 15px;
    }
    25% {
        transform: rotate(-2deg);
        margin-bottom: 16px;
    }
    75% {
        transform: rotate(2deg);
        margin-bottom: 14px;
    }
    to {
        transform: rotate(0deg);
        margin-bottom: 15px;
    }
 }
