body {
    background-color: black;
}

.apps {
    position: relative;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 800px;
    min-height: 200px;
    margin: auto auto;
}

.apps ul {
    background: rgba(128, 128, 128, 0.5);
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
    list-style: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.apps ul li {
    float: left;
    height: 80px;
    width: 80px;
    color: black;
    padding: 28px 28px;
    text-align: center;
}

/*
.apps ul li:hover {
    border: 0px solid #555;
}

.apps ul li:hover .overlay {
    opacity: 1;
}
*/

.apps ul li .overlay {
    opacity: 1;
}

.apps ul li a {
    text-decoration: none;
    color: black;
}

div[id^="icon-div-"] {
    height: 64px;
    width: 64px;
    padding: 0px 0px;
    margin: 0 auto;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

img[id^="icon-img-"] {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

span[id^="icon-text-"] {
    color: white;
    font-size: 12px;
}

img[id^="overlay-img-"] {
    width: 50%;
    height: 50%;
    vertical-align: middle;
}

.overlay {
    background: rgba(0, 0, 0, .6);
    text-align: center;
    opacity: 0;
    width: 64px;
    height: 64px;
    line-height:64px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.delete {
    position: relative;
    top: 15px;
}
