#app-view {
    text-align: center;
    padding: 64px 0;
}

h1 {
    font: normal 28px "omnes-pro", Helvetica, Arial, sans-serif;
    color: white;
}

h2 {
    font: normal 22px "omnes-pro", Helvetica, Arial, sans-serif;
    color: white;
}

p {
    word-wrap: break-word
}

.greetings {
    margin: 50px auto;
    max-width: 800px;
}

.manual-form {
    margin: 20px auto;
}

.ui.container {
    margin: 20px auto;
}

.ui[class*="very relaxed"].grid {
    height: 100%;
    position: relative;
}

.ui.table {
    table-layout: fixed;
}

.ui.table tr td {
    word-wrap: break-word
}

.ui.labeled.input {
    margin: 10px auto;
}
