#app-main-view
{
  padding: 64px 0;

  text-align: center;
}

h1
{
  font: normal 28px 'omnes-pro', Helvetica, Arial, sans-serif;

  color: white;
}

h2
{
  font: normal 22px 'omnes-pro', Helvetica, Arial, sans-serif;

  color: white;
}

p
{
  word-wrap: break-word;
}

.greetings
{
  max-width: 800px;
  margin: 50px auto;
}

.manual-form
{
  margin: 20px auto;
}

.ui.container
{
  margin: 20px auto;
}

.ui[class*='very relaxed'].grid
{
  position: relative;

  height: 100%;
}

.ui.table
{
  table-layout: fixed;
}

.ui.table tr td
{
  word-wrap: break-word;
}

.ui.labeled.input
{
  margin: 10px auto;
}
