#app-view {
    text-align: center;
}

h1 {
    font: normal 28px "omnes-pro", Helvetica, Arial, sans-serif;
    color: white;
}

h2 {
    font: normal 22px "omnes-pro", Helvetica, Arial, sans-serif;
    color: white;
}

.greetings {
    display: none;
    margin: 0px auto;
    max-width: 800px;
}
